
@media screen and (max-width: 600px) {

    /* Partie Index */


    .links {
       display: none; 
    }

    .menu {
        display: contents;
    }

    header {
        width: 80%;
        padding: 20px 10px;
    }

    .container {
        text-align: center;
        margin: 150px auto 20px auto;
    }

    .container * {
        margin: 40px auto
    }

    .titres>h1{
        font-size: 3em;
    }

    .titres>h1 + h2 {
        text-align: center;
    }
    
    .titres>h2{
        font-size: 1em;
        margin: 20px auto;
        text-align: left;
        letter-spacing: 1.5px;
    }

    .boutons {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .boutons>.cliquable {
        margin-right: auto;
    }

    .cliquable {
        margin: 10px auto;
        width: 50%;
        height: 30px;
        padding: 10px 20px 20px 20px;
        border: 1px solid white;
        font-size: 0.5em;
    }



    /* Partie Profil */



    .haut_profil>h1{
        font-size: 2.5em;
        padding: 20px 0;
    }

    .infos {
        width: 100%;
        margin: 10% auto 10% auto;
        font-size: 1.2em;
    }

    .principale {
        transform: translateY(0%);
        padding: 20px;
    }

    .principale>h2 {
        font-size: 1.5em;
        margin-top: 80px;
    }

    .principale>h2>div {
        width: 100%;
    }

    .principale>div {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .principale>div>p {
        margin-top: 100px;
        margin-left: 0px;
        font-size: 1.2em;
    }

    .principale_div{
        margin-bottom: 100px;
    }

    .explica {
        font-size: 1em;
        margin-left: 0;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 40px;
        width: 100%;
    }

    .bloc_comeptence {
        margin: 10px auto;
    }

    .competence>h3 {
        font-size: 1em;
    }

    .boite {
        width: 250px;
    }

    .boite, .inner {
        height: 10px;
    }

    .titre_cv {
        font-size: 0.8em;
    }

    .bas_cv>p {
        font-size: 1em;
    }

    .bas_cv>.cliquable {
        font-size: 1em;
        padding: 20px 30px;
    }

    footer {
        font-size: 0.75em;
        letter-spacing: 2px;
        padding: 20px 50px;
    }




    /* Partie Réalisations */


    .haut {
        padding: 25px;
        margin: 100px auto;
    }
    .haut>h1 {
        font-size: 1.9em;
    }

    .haut>p {
        font-size: 0.8em;
        margin-left: 0;
    }

    .bas {
        position: relative;
        min-height: 1950px;
    }

    .bas>h2 {
        font-size: 1.5em;
    }

    .bas>h2>div {
        width: 95%;
    }

    .ligne_rea {
        flex-direction: column;
        position: relative;
    }

    .flip-box {
        margin: 20px 20px;
    }
}



